@charset "UTF-8";

h1 {
	color : #92a8d1;
}

#sinscrire form  { 
	display: table;      
	}
	
#sinscrire p     { 
	display: table-row;  
	}
	
#sinscrire label { 
	display: table-cell; 
	}
	
#sinscrire input { 
	display: table-cell; 
	}