@charset "UTF-8";


body {
	font-family: 'Roboto', sans-serif;
	}

header {
	background-color: #254d3e;
	}

h1 {
	font-weight: bold;
	}
	
#form-sinscrire {
	justify-content: center;
}

.nav-link {color: #dbf8ff;}

.nav-link:hover {color: #fff;}